.main-content {
    min-height: 500px;
    max-width: 1200px;
	margin-top: 70px;
}

.list {
	max-width: 1200px;
}

.form {
	max-width: 500px;
}

.row {
	margin-top: 30px;
}

.table th, td {
	text-align: center;
}

.field-error {
	border: 1px solid #ff0000;
	margin-bottom: 10px;
}
